<<<<<<< HEAD
<% layout('layouts/boilerplate') -%>

  <body>
    <h3>All Listings</h3>
    <!-- <form method="GET" action="/listings/new">
      <button>Create New Listing</button>
    </form> -->

    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
      <% for(let listing of allListings) { %>
    <div class="card col" style="width: 20rem;">
  <img src="<%=listing.image%>" class="card-img-top" alt="listing-image">
  <div class="card-body">
    <p class="card-text">
      <%= listing.title %> <br>
      &#8377; <%= listing.price.toLocaleString("en-IN") %> /per night <br>

    </p>
  </div>
</div>
      <% } %>

    </div>


  </body>
=======
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>
  </head>
  <body>
    <h3>All Listings</h3>
    <form method="GET" action="/listings/new">
      <button>Create New Listing</button>
    </form>
    <ul>
      <% for(let listing of allListings) { %>
      <li><a href="/listings/<%= listing._id %>"> <%= listing.title %> </a></li>
      <% } %>
    </ul>
  </body>
</html>
>>>>>>> 59e553cfc8d0195a1ae85d49435cad6265e2f87a
